name: Developer Welcome
on: pull_request_review
jobs:
  welcome:
    name: Welcome new Developers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Welcome to the repo'
          pr-message: 'Welcome to the repo'